.tournament-container {
  width: 100%;
  height: 100%;
}

.centered-new-tournament {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  margin: 0 auto;
  padding: 16px;
}

.back-link-container {
  margin-top: 36px;
  margin-bottom: 36px;
}

.back-link {
  text-decoration: none;
  color: #33704C;
  font-size: 16px;
}

.new-tournament-icon {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F4BC0A;
  font-size: 32px;
  background-color: #33704C;
  border-radius: 50%;
  margin-bottom: 16px;
}

.new-tournament-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  justify-content: center;
  h2 {
    color: #33704C;
  }
  p {
    color: #618C72;
  }
}

.new-tournament-form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 1px #33704C;
  border-radius: 8px;
  padding: 16px;
  input, select {
    margin-bottom: 32px;
    border-radius: 6px;
    border: solid 1px #618C72;
  }
}

.form-columns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

#create-tournament-button-form {
  background-color: #33704C;
  color: white;
  border-radius: 6px;
  padding: 8px;
  width: 100%;
}

#cancel-button-form {
  display: flex;
  background-color: white;
  border: solid 1px #33704C;
  color: #33704C;
  border-radius: 6px;
  text-decoration: none;
  padding: 8px;
  width: 343.2px;
  justify-content: center;
}

.helpful-tip-new-form {
  padding: 16px;
  background-color: #FCF0D1;
  border: solid 1px #F4BC0A;
  margin-top: 16px;
  border-radius: 8px;
}

.pro-tip-inline {
  display: flex;
  flex-direction: row;
  color: #33704C;
  i {
    margin-right: 8px;
  }
}

#helpful-tip-heading {
  margin-bottom: 16px;
}
